@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

$background: linear-gradient(90deg, #ffefdb 0%,  #ffecd5 100%);
$card-color:#fff6ec;
html{
    height: 100%;
}
main{
    margin-left:10px;
    margin-right:10px;
    flex: 1 0 auto;
}
body{
    background: $background;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: large;
}
header{
    flex: 0 0 auto;
 }

.navbar{
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    background: #ffcf97;
    margin-bottom: 20px;
    color:white;
}

footer{
    box-shadow: 4px 0px 15px rgb(0 0 0 / 25%);
    background: #ffcf97;
    margin-top: 20px;
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
}

.mainpage{
    &__text{
        max-width: 300px;
    }
}

h1,h2,h3,h4,h5{
    font-weight: 700;
}

.card{
    background: $card-color;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    &-body{
        background:  $card-color;
    }
}

.goods{
    &__card{
        display: inline-block;
        
    }
    &__types{
        display:flex; 
        gap:20px; 
        list-style-type:none; 
        padding-left:5px;
        flex-wrap: wrap;
    }
    &__shops{
        padding-top:100px;
    }
}

.card{
    &__image{
        width: 286px;
        height: 286px;
        object-fit: cover;
    }
}

.shop-list{
    padding: 0px;
    &__item{
        list-style-type: none;
        font-weight: 700;
        &:after{
            content: "•";
            padding-left: 7px;
            color:red;
        }
    }
    &__item_active{
        &:after{
        color:green;
    } }
}

.review-add{
    margin-left: auto;
    margin-right:auto;
}